* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 1rem;
}

.notification {
    display: inline-block;
    border-radius: 25px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 1rem;
}

.success {
  color: green;
  border: 3px solid green;
}

.error {
  color: red;
  border: 3px solid red;
}
